@font-face {
	font-family: Myriad;
	src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
	font-family: MyriadSem;
	src: url('../fonts/MyriadPro-Semibold.otf');
}

@font-face {
	font-family: MyriadBold;
	src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
	font-family: Pattaya;
	src: url('../fonts/Pattaya-Regular.ttf');
}

body {
	font-family: Myriad, sans-serif;
}

#content-wrap {
	position: relative;
	overflow: hidden;
}

div.row {
	margin: 0 !important;
}


/* МЕНЮ */

.menu {
	padding: 10px 0;
}

.desktop > div {
	text-align: center;
	padding: 0;
}

.menu-item {
	display: inline-block;
	color: #006b3b;
	font-family: Myriad, 'Arial Narrow', sans-serif;
	font-size: 15px;
	padding: 5px 15px;
	margin-top: 20px;
	position: relative;
}

.menu-item:hover {
	font-weight: bold;
	padding: 0 15px;
}

.menu-item:before {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: 47%;
	width: 0;
	height: 0;
	background: url('../img/list.png') no-repeat;
	background-size: 100%;
	-webkit-transition: .4s;
	transition: .4s;
}

.menu-item:hover:before {
	left: 38%;
	top: -20px;
	width: 26px;
	height: 21px;
}

.sub-menu {
	position: absolute;
	width: 200px;
	top: 70px;
	right: -320px;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: rgba(255,255,255,.9);
	z-index: 1;
}

.sub-menu ul {
	margin: 0;
	padding: 0;
}

.sub-menu li {
	list-style: none;
	border-bottom: 1px solid #006b3b;
	padding: 5px 0 5px 15px;
}

.sub-menu li a {
	color: #006b3b;
	font-size: 18px;
	text-decoration: none;
}

.sub-menu li:active,
.sub-menu li:focus {
	background-color: #006b3b;
}

.sub-menu li:active a,
.sub-menu li:focus a {
	color: white;
}

.sub-menu-visible {
	right: 0;
}

.mobile .date {
	color: #006b3b;
	font-family: MyriadSem, sans-serif;
	font-size: 25px;
}

.mobile .burger {
	float: right;
	cursor: pointer;
}

.mobile .burger > div {
	width: 30px;
	border: 2px solid #006b3b;
	margin: 4px 0;
	-webkit-transition: .5s;
	transition: .5s;
}

.mobile .burger.cross > div:first-child {
	-webkit-transform: translateY(10px) rotate(45deg);
	-ms-transform: translateY(10px) rotate(45deg);
	-o-transform: translateY(10px) rotate(45deg);
	-moz-transform: translateY(10px) rotate(45deg);
	transform: translateY(10px) rotate(45deg);
}

.mobile .burger.cross > div:last-child {
	-webkit-transform: translateY(-6px) rotate(135deg);
	-ms-transform: translateY(-6px) rotate(135deg);
	-o-transform: translateY(-6px) rotate(135deg);
	-moz-transform: translateY(-6px) rotate(135deg);
	transform: translateY(-6px) rotate(135deg);
}

.mobile .burger.cross > div:nth-child(2) {
	opacity: 0
}

@media screen and (max-width: 1199px) {
	.menu {
		width: 100%;
	}
	.menu-item {
		padding: 0 10px;
	}
}


/* ШАПКА */

.hat {
	background: url('../img/shapka-fon.jpg') no-repeat;
	background-size: 100%;
	color: #006b3b;
	padding-top: 165px;
	box-sizing: border-box;
	height: 785px;
}

.hat .hat-desktop {
	position: relative;
}

.logo-foto {
	position: absolute;
	bottom: -70px;
	left: 160px;
}

.hat-text, .hat-date {
	padding: 0;
}

.hat-date {
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	padding: 10px 0 0 40px;
}

.hat-date span {
	font-size: 60px;
}

.hat-text {
	text-align: right;
}

.hat-text p.slogan {
	font-family: Pattaya;
	font-size: 30px;
	margin: 0;
}

.hat-text p.title {
	font-size: 115px;
	font-weight: bold;
	line-height: 80px;
	margin: 0;
}

.hat-text p.title span.pet {
	font-size: 80px;
}

.hat-text p.title span.ned {
	letter-spacing: 9px;
	margin-right: -9px;
}

.but-ton {
	display: inline-block;
	width: 190px;
	height: 60px;
	position: relative;
	overflow: hidden;
	color: white;
	padding: 10px;
	margin-top: 40px;
	text-align: center;
	font-size: 17px;
}

.but-ton-wrap .date {
	display: none;
}

.but-ton:before {
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
	-webkit-transition: .5s;
    transition: .5s;
}

.but-ton:hover:before {
	left: 0;
}

.ticket {
	background-color: #006b3b;
	margin-left: 10px;
}
.ticket:before {
	background-color: #f1b707;
}

.stand {
	background-color: #f1b707;
}

.stand:before {
	background-color: #006b3b;
}

.but-ton span {
	position: absolute;
	display: inline-block;
	width: 100%;
	left: 0;
}

.stand span {
	top: 19px;
}

.ticket span {
	top: 5px;
}

.soc {
	padding: 0 0 0 20px;
}

.soc .vk {
	margin-right: 10px;
}

.mob-slogan {
	font-family: Pattaya;
	font-size: 30px;
	text-align: center;
	padding: 30px 0;
}

.mob-soc {
	text-align: center;
	word-spacing: 15px;
}

@media screen and (max-width: 1700px) {
	.hat {
		background-size: cover;
		background-position: 50% 50%;
	}
}

@media screen and (max-width: 1199px) {
	.hat {
		height: 700px;
		padding-top: 140px;
	}
	.hat-date {
		font-size: 36px;
		line-height: 38px;
		padding: 0 0 0 15px;
	}
	.hat-date span {
		font-size: 50px;
	}
	.hat-text p.slogan {
		font-size: 26px;
	}
	.hat-text p.title {
		font-size: 100px;
	}
	.hat-text p.title span.pet {
		font-size: 70px;
	}
	.but-ton-wrap {
		width: 200px;
		float: right;
	}
	.ticket {
		margin-left: 0;
		margin-top: 10px;
	}
	.logo-foto {
		left: 95px;
		top: 100px;
		width: 300px;
	}
}

@media screen and (max-width: 991px) {
	.hat {
		height: auto;
		padding: 120px 0 50px;
	}
	.but-ton-wrap {
		float: none;
		margin: 10px auto;
	}
}

@media screen and (max-width: 767px) {
	.hat {
		padding: 50px 0;
	}
}

@media screen and (max-width: 600px) {
	.hat {
		padding: 35px 0;
	}
	.mob-slogan {
		padding: 30px 0 10px;
	}
	.mob-skk {
		width: 80px;
	}
}

@media screen and (max-width: 500px) {
	.mobile .date {
		display: none;
	}
	.mobile .logo {
		width: 90%;
	}
	.picture {
		display: none;
	}
	.mob-but {
		width: 100%;
	}
	.but-ton-wrap {
		width: 100%;
		text-align: center;
	}
	.but-ton-wrap .date {
		display: block;
		font-size: 30px;
		font-weight: bold;
		margin-top: 15px;
	}
}


/* ТЕМАТИКА */


.theme {
	color: #006b3b;
}

.theme h1 {
	font-family: Pattaya;
	margin-bottom: 50px;
}

.theme ul {
	margin: 0;
	padding: 0;
}

.theme li {
	list-style: none;
	margin: 25px 0;
	font-size: 18px;
}

.theme li:hover {
	font-weight: bold;
}

.pics {
	padding: 0;
}

.column {
	float: left;
	width: 33.333%;
}

.column img {
	margin: 0 auto 0.2vw;
}

@media screen and (max-width: 991px) {
	.theme {
		width: 100%;
	}
}